<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Lista de Alunos</title>
</head>
<body>
	<table border='1'>
		<tr>
			<th>RA</th>
			<th>Nome</th>
			<th>Data de Nascimento</th>
			<th>Renda</th>
		</tr>
		<tr th:each="aluno: ${alunos}">
			<td th:text="${aluno.ra}">RA</td>
			<td th:text="${aluno.nome}">Nome</td>
			<td th:text="${#dates.format(aluno.dataNascimento, 'dd/MM/yyyy')}">Data de Nascimento</td>
			<td th:text="${#numbers.formatCurrency(aluno.renda)}">Renda</td>
		</tr>
	</table>
	<a href="/alunos">voltar</a>
</body>
</html>